<!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg  modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">filter</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h4 class="hp">Type of place</h4>
          <h6>Search rooms, entire homes or any type of place</h6>

     
            <div class="btn-group  grp">
              <button type="button" class="btn btn-outline-dark">Left</button>
              <button type="button" class="btn btn-outline-dark">Middle</button>
              <button type="button" class="btn btn-outline-dark">Right</button>
            </div>
<hr>
<h4 class="hp">Price range</h4>
<h6>Total prices for 5 nights before taxes</h6>
<div class="graph">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>

<div class="price-range"> 
  <div class="range ">
    <div class="min">minimum 
      <br>
      <span> &#8377;7000</span>
    </div>

    <div class="max">maximum
      <br>
      <span> &#8377;21000</span>
    </div>
  </div>
</div>

<hr>
<div class="text">Rooms and beds
    <div class="room-beds mt-2 mb-2">
      <div>Any</div>
      <div>1</div>
      <div>2</div>
      <div>3</div>
      <div>4</div>
      <div>5</div>
      <div>6</div>
      <div>7</div>
      <div>8+</div>
  </div>
  </div>
  <div class="text">Beds
  <div class="room-beds mt-2 mb-2">
      <div>Any</div>
      <div>1</div>
      <div>2</div>
      <div>3</div>
      <div>4</div>
      <div>5</div>
      <div>6</div>
      <div>7</div>
      <div>8+</div>
  </div>
</div>

<div class="text">Bathrooms
<div class="room-beds mt-2 mb-2">
    <div>Any</div>
    <div>1</div>
    <div>2</div>
    <div>3</div>
    <div>4</div>
    <div>5</div>
    <div>6</div>
    <div>7</div>
    <div>8+</div>
</div>
</div>

<div class="mb-2">
  <div>
      <h2 class="h-tag">Top-tier stays</h2>
  </div>
  <div class="tier-stay">
      <div><img src="" alt=""></div>
      <div>
          <h3>Guest favourites</h3>
      </div>
      <div class="text">
          <p>The most loved homes on Airbnb according to guests</p>
      </div>
  </div>
</div>
<hr>

<div class="mb-2">
  <div>
      <h2 class="h-tag">Property type</h2>
  </div>
  <div class="property-type">
      <div>
          <div style="height: 25px; width: 25px;" alt="Flat"><i class="fa-solid fa-city"></i></div>
          <div><b>Flat</b></div>
      </div>
      <div>
          <div  style="height: 25px; width: 25px;" alt="Guest"><i class="fa-solid fa-house"></i></div>
          <div><b>Guest house</b></div>
      </div>
      <div>
          <div style="height: 25px; width: 25px;" alt="Hotel"><i class="fa-solid fa-hotel"></i></div>
          <div><b>Hotel</b></div>
      </div>
  </div>
</div>

<div class="mb-2">
  <div>
      <h2 class="h-tag">Amenities</h2>
  </div>
  <div><b>Essentials</b></div>
  <div class="amenities">
      <div>
          <input type="checkbox" class="checkboxBtn" name="" id="">
          <span class="textbig">Wifi</span>
      </div>
      <div>
          <input type="checkbox" class="checkboxBtn" name="" id="">
          <span class="textbig">Kitchen</span>
      </div>
      <div>
          <input type="checkbox" class="checkboxBtn" name="" id="">
          <span class="textbig">Washing machine</span>
      </div>
      <div>
          <input type="checkbox" class="checkboxBtn" name="" id="">
          <span class="textbig">dryer</span>
      </div>
      <div>
          <input type="checkbox" class="checkboxBtn" name="" id="">
          <span class="textbig">Air conditioning</span>
      </div>
      <div>
          <input type="checkbox" class="checkboxBtn" name="" id="">
          <span class="textbig">Heating</span>
      </div>
  </div>
  <a href="#">
      <div>
          <h4>Show more</h4>
      </div>
  </a>
</div>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Show</button>
        </div>
      </div>
    </div>
  </div>


 


