<footer class="footer">
    <div class="f-info">
        <br>
<div class="social">
            
               Inspiration for future getaways 

     <div class="link">
        <div class="list">
             <h6>Popular</h6>
            </div>
            
            <div class="list">
             <h6>Art&Culture</h6>
            </div>

             <div class="list">
             <h6>Outdoors</h6>
            </div>

             <div class="list">
             <h6>Mountains</h6>
            </div>

             <div class="list">
             <h6>Beach</h6>
            </div>

             <div class="list">
             <h6>Unique stays</h6>
            </div>

             <div class="list">
             <h6>Categorie</h6>
            </div>

             <div class="list">
             <h6>Things to do</h6>
            </div>
   </div>

   
<div class="hr">
    <hr>
   </div>

   <div class="allfoot">

<div class="footi">
   <div class="footT">
    <h6>Cozy Beachfront Cottage</h6>
    <h6 class="op">Malibu</h6>
   </div>
   <div class="footT">
    <h6>Secluded Treehouse Getaway</h6>
    <h6 class="op">New York City</h6>
   </div>
   <div class="footT">
    <h6>Streves</h6>
    <h6 class="op">Aspen</h6>
   </div>
</div>

<div class="footj">
   <div class="footT">
    <h6> Beachfrontster</h6>
    <h6 class="op">Florence</h6>
   </div>
   <div class="footT">
    <h6>Beachfront Paradise</h6>
    <h6 class="op">Portland</h6>
   </div>
   <div class="footT">
    <h6>Rustic Cabin by the Lake</h6>
    <h6 class="op">Cancun</h6>
   </div>
</div>

<div class="footk">
   <div class="footT">
    <h6>Modern Loft in Downtown</h6>
    <h6 class="op">Lake Tahoe</h6>
   </div>
   <div class="footT">
    <h6>Mountain Retreat</h6>
    <h6 class="op">Los Angeles</h6>
   </div>
   <div class="footT">
    <h6>Historic Villa in Tuscany</h6>
    <h6 class="op">Serengeti National Park</h6>
   </div>
 </div>  

 <div class="footl">
   <div class="footT">
    <h6>Luxury Penthouse views</h6>
    <h6 class="op">Verbier</h6>
   </div>

   <div class="footT">
    <h6>Ski-In/Ski-Out Chalet</h6>
    <h6 class="op">Los Angeles</h6>
   </div>

   <div class="footT">
    <h6>Skilet</h6>
    <h6 class="op">deviness</h6>
   </div>
 </div>  

   
 <div class="footM">
    <div class="footT">
     <h6>Luxuryfts</h6>
     <h6 class="op">Verder</h6>
    </div>

    <div class="footT">
     <h6>stiput</h6>
     <h6 class="op">opp Angele</h6>
    </div>
 
    <div class="footT">
     <h6 class="op">show more..</h6>
    </div>
</div>
  </div>
</div>

<!-- <hr class="hr"> -->

<div class ="supp">
<div class=" thref">
    <h6><b>Support</b></h6>
    <h6>Help Centre</h6>
       <h6>AirCover</h6> 
       <h6> Anti-discrimination</h6>
        <h6>Disability support</h6>
       <h6> Cancellation options</h6>
       <h6> Report neighbourhood concern</h6>
</div>

<div class="thres ">
    <h6>Hosting</h6>
    <h6>Airbnb your home</h6>
    <h6>AirCover for Hosts</h6> 
    <h6>Hosting resources</h6>
     <h6>Community forum</h6> 
     <h6>Hosting responsibly</h6>
    <h6>Join a free Hosting class</h6> 
</div>

<div class=" thret">
    <h6>Airbnb</h6>    
    <h6>Newsroom</h6>
    <h6>New features</h6> 
    <h6>Careers</h6>
     <h6>Investors</h6>
    <h6>Airbnb.org </h6>
</div>
</div>

<hr class="hr">

<div class = all-f>
<div class=" privacy">
    <span> &copy;Wanderlust Private Limited </span> 
    <br>
    <div class="privacy-term">
   <span><a href="privacy">privacy</a></span> 
   &nbsp; &nbsp;
    <span ><a href="term">Terms</a></span>
    </div>
    </div>



<div class="icn-footer">

    <span class="globe"><i class="fa-solid fa-globe"></i> English(IN)</span>
    &nbsp; &nbsp;
    <span class="INR">
    &#8377; <a  href="INR">INR</a>
    </span>
    &nbsp;  &nbsp; 

    <div class="icons">
    <span class="git"><a href="https://github.com/nandani9479"><i class="fa-brands fa-github"></i></a></span>
    &nbsp; &nbsp; 
   <span class="fa"> <a href="term"><i class="fa-brands fa-facebook"></i></a></span>
    &nbsp; &nbsp;
    <span class="lin"> <a href="www.linkedin.com/in/nandani-rajput-b824732ba"> <i class="fa-brands fa-linkedin"></i></a></span> 
    &nbsp; &nbsp; 
  </div>
  
  </div>
  </div>  
  <hr class="hr">
  <div class = "name">
   <b>Created by Nandani Rajput!</b> 
  </div>
</div>
</footer>








        